/*===========================================
# Main Container
============================================*/
.main_menu_container { /* Main VBox - Main Container */
    -fx-background-color: #EEEEEE;
    -fx-alignment: center;
    -fx-padding: 0 10 0 10;
}

.left_container { /* Main AnchorPane - 1st child of Main Vbox */
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

/*===========================================
# Title/Logo
============================================*/
.title_container { /* 1st Child VBox of the Main AnchorPane */
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container FontAwesomeIconView {
    -fx-fill: #017817;
}

.title_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2em;
}

/*===========================================
# Navigation
============================================*/
.menu_container { /* 2nd Child VBox of the Main AnchorPane */
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}

.menu_container Button {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #017817;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.menu_container Button:hover {
    -fx-cursor: hand;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #017817;
}

.alt_menu_btn {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #017817;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 0, 0, 0, 0);
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

/*===========================================
# Report Bug/Suggestion
============================================*/
.report_container { /* 3rd Child VBox of the Main AnchorPane */
    -fx-background-color: #EEFFEE;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 0 10 0;
}

.report_container Text {
    -fx-font-weight: bold;
    -fx-fill: #017817;
}

.report_container Label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.report_container Button {
    -fx-pref-width: 80;
    -fx-background-color: #017817;
    -fx-text-fill: #FFFFFF;
}

.report_container Button:hover {
    -fx-cursor: hand;
}

.report_container Button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}