
/*===========================================
# Profile View
============================================*/
.profile_container {
    -fx-background-color: #FFFFFF;
    -fx-spacing: 30 10 30 10;
}

.profile_container Text {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
}

.profile_container .error_lbl {
    -fx-text-fill: #FF0000;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

/*===========================================
# Form View
============================================*/
.form_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 30 20 30;
    -fx-spacing: 10;
    -fx-background-radius: 10 10 10 10;
    -fx-alignment: center_left;
}

.form_container Label {
    -fx-font-family: "Calibri";
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.form_container TextField, PasswordField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.form_container Button {
    -fx-background-color: linear-gradient(to right, #017817, #04a221);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 850;
    -fx-pref-height: 40;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.form_container Button:hover {
    -fx-cursor: hand;
}

.form_container FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

